extends layout

block content
  h1.
    POP BLOGSZ!
  ul
    each post in posts
      li
        h2 #{post.title} 
        p #{post.post} 
        p by #{post.author}  <a href="/editpost/#{post.id}">edit</a> // <a href="/deletepost/#{post.id}">delete</a>
        p <br/>

  p <a href="/newpost">Add new entry</a> 

